<!-- <div class="button-box">
    <div id="btn"></div>
    <button type="button" class="toggle-btn">Pin code</button>
    <button type="button" class="toggle-btn"> State </button>
</div> -->

<div>
    <tabset>
        <tab heading="Search By PIN" id="tab1">
            <div class="mt-2">
                <input class="form-control" type="text" placeholder="Enter Pincode">
                <div fxLayout="column">
                    <div class="item">

                        <div class="card mt-2" style="width: 50rem;" *ngFor="let hospital of listOfHospitals">
                            <img class="card-img-top" src="../../../assets/Images/hospital.jpg"
                                style="width:125px;height:125px" alt="Card image cap"
                                (click)="checkHospitalDetails(hospital.hospital_name)">
                            <div class="card-body">
                                <h5 class="card-title" (click)="checkHospitalDetails(hospital.hospital_name)">
                                    {{hospital.hospital_name}}</h5>
                                <p class="card-text">{{hospital.hospital_phone}}</p>
                                <p class="card-text">{{hospital.area}}</p>
                                <p class="card-text">{{hospital.district}}</p>
                                <p class="card-text">{{hospital.hospital_address}}</p>
                                <p class="card-text">{{hospital.pincode}}</p>
                                <a class="btn btn-primary" (click)="checkHospitalDetails(hospital.hospital_name)">Check
                                    Info</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </tab>
        <tab heading="Search By District">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </tab>
    </tabset>

    <div class="card">

    </div>
</div>