<div id="wrapper">

    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#!">Normal India</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content" class="p-2 p-md-2">
            <div class="container-fluid">
                <!-- Jumbotron Header-->
                <header class="jumbotron my-1">
                    <a class="btn btn-primary filter-btn btn-lg" href="#!">All</a>
                    <a class="btn btn-primary filter-btn btn-lg active" href="#!">Beds</a>
                    <a class="btn btn-primary filter-btn btn-lg" href="#!">Plasma</a>
                    <a class="btn btn-primary filter-btn btn-lg" href="#!">Vaccine</a>
                    <a class="btn btn-primary filter-btn btn-lg" href="#!">Oxygen</a>
                    <a class="btn btn-primary filter-btn btn-lg" href="#!">ICU</a>
                    <a class="btn btn-primary filter-btn btn-lg" href="#!">Ventilator</a>
                </header>
                <!-- Page Features-->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a class="active" data-toggle="tab" href="#menu1">By Pin</a></li>
                            <li><a data-toggle="tab" href="#menu2">By District</a></li>
                        </ul>
                        <div class="tab-content p-2 py-3">
                            <div id="menu1" class="tab-pane fade in show active">
                                <div class="row">
                                    <div class="col-md-6 text-left dropdown-mobile">
                                        <select class="form-select select mr-3 mb-1 col-6" aria-label="Default select example">
                                            <option selected>State</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <select class="form-select select col-6" aria-label="Default select example">
                                            <option selected>District</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="card p-2 search-results">
                                            <h6 class="text-left">Search Results</h6>
                                            <div class="row">
                                                <div class="col-lg-12 mb-4">
                                                    <!-- card for all start -->
                                                    <div class="card shadow-sm">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details">
                                                                <div class="col-md-2 mobile-view">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Regular
                                                                            Bed</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 mobile-view">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> ICU
                                                                            Bed</span>
                                                                        <span class="not-available">Not-Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 mobile-view">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Oxygen
                                                                            Bed</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 mobile-view">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Vaccine</span>
                                                                        <span class="no-data">No-Data</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- card for all end -->
                                                    </div>
                                                    <!-- card for all vaccine -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Vaccine</span>
                                                                        <span class="not-available">Not-Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 align-self-end">
                                                                    <div class="bed-details bed-details-mobile">
                                                                        <span class="options not-aval"> 0</span>
                                                                        <span class="options"> 45+</span>
                                                                        <span class="options"> Covxin</span>
                                                                        <span class="options"> Paid</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right">
                                                                    <a class="btn btn-primary p-2 py-1 "
                                                                        href="#!">Notify Availablity</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for vaccine end -->
                                                    <!-- card for all vaccine available -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Vaccine</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 align-self-end">
                                                                    <div class="bed-details bed-details-mobile">
                                                                        <span class="options aval"> 60</span>
                                                                        <span class="options"> 45+</span>
                                                                        <span class="options"> Covxin</span>
                                                                        <span class="options"> Paid</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right">
                                                                    <a class="btn btn-primary p-2 py-1 " href="#!">Book
                                                                        Now</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for vaccine available end -->
                                                    <!-- card for all Plasma -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-3 d-flex">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Plasma</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 align-self-end">
                                                                    <div class="bed-details bed-details-mobile">
                                                                        <span class="options aval"><strong>B+</strong>
                                                                            160</span>
                                                                        <span class="options not-aval"> AB+ 0</span>
                                                                        <span class="options aval"> A+ 100</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right mobile-buttons">
                                                                    <a class="btn btn-primary p-2 py-1 mr-1"
                                                                        href="#!">Report</a>
                                                                    <a class="btn btn-outline-primary p-2 py-1 mr-1"
                                                                        href="#!">Restructions</a>
                                                                    <a class="btn btn-outline-primary p-2 py-1 "
                                                                        href="#!">Notify Me</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for Plasma end -->

                                                    <!-- card for all Plasma -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details mt-2">
                                                                <div class="col-md-3 d-flex hospital-like">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Regular
                                                                            Ber</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 d-flex hospital-like">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> ICU
                                                                            Bed</span>
                                                                        <span class="not-available">Not-Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 d-flex bed-details-mobile hospital-like">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Oxigen
                                                                            Bed</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right">
                                                                    <a class="btn btn-primary p-2 py-1 mr-1"
                                                                        href="#!">Report Updates</a>
                                                                    <a class="btn btn-outline-primary p-2 py-1 "
                                                                        href="#!">Notify Me</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for Plasma end -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-6 d-flex text-left">
                                        <select class="form-select mr-3 col-6" aria-label="Default select example">
                                            <option selected>State</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <select class="form-select col-6" aria-label="Default select example">
                                            <option selected>District</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="card p-2 search-results">
                                            <h6 class="text-left">Search Results</h6>
                                            <div class="row">
                                                <div class="col-lg-12 mb-4">
                                                    <!-- card for all start -->
                                                    <div class="card shadow-sm">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Regular
                                                                            Bed</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> ICU
                                                                            Bed</span>
                                                                        <span class="not-available">Not-Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Oxygen
                                                                            Bed</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Vaccine</span>
                                                                        <span class="no-data">No-Data</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- card for all end -->
                                                    </div>
                                                    <!-- card for all vaccine -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Vaccine</span>
                                                                        <span class="not-available">Not-Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 align-self-center">
                                                                    <div class="bed-details">
                                                                        <span class="options not-aval"> 0</span>
                                                                        <span class="options"> 45+</span>
                                                                        <span class="options"> Covxin</span>
                                                                        <span class="options"> Paid</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right">
                                                                    <a class="btn btn-primary p-2 py-1 "
                                                                        href="#!">Notify Availablity</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for vaccine end -->
                                                    <!-- card for all vaccine available -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-2">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Vaccine</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 align-self-center">
                                                                    <div class="bed-details">
                                                                        <span class="options aval"> 60</span>
                                                                        <span class="options"> 45+</span>
                                                                        <span class="options"> Covxin</span>
                                                                        <span class="options"> Paid</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right">
                                                                    <a class="btn btn-primary p-2 py-1 " href="#!">Book
                                                                        Now</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for vaccine available end -->
                                                    <!-- card for all Plasma -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-3 d-flex">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i>
                                                                            Plasma</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 align-self-center">
                                                                    <div class="bed-details">
                                                                        <span class="options aval"><strong>B+</strong>
                                                                            160</span>
                                                                        <span class="options not-aval"> AB+ 0</span>
                                                                        <span class="options aval"> A+ 100</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right">
                                                                    <a class="btn btn-primary p-2 py-1 mr-1"
                                                                        href="#!">Report</a>
                                                                    <a class="btn btn-outline-primary p-2 py-1 mr-1"
                                                                        href="#!">Restructions</a>
                                                                    <a class="btn btn-outline-primary p-2 py-1 "
                                                                        href="#!">Notify Me</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for Plasma end -->

                                                    <!-- card for all Plasma -->
                                                    <div class="card shadow-sm mt-2">
                                                        <div class="card-body text-left">
                                                            <h5 class="card-title text-left hospital-name">Adilabad
                                                                Neuro Super Speciality Hospital</h5>
                                                            <p class="card-text text-left mb-1"><i
                                                                    class="fa fa-phone"></i> +91 9032628839</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-location"></i> 123 street name,
                                                                Address line, city, TS, 530002 - India</p>
                                                            <p class="card-text text-left  mb-1"><i
                                                                    class="fa fa-date"></i>
                                                                Updated 3 hours ago</p>
                                                            <div class="row available-details ">
                                                                <div class="col-md-3 d-flex">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Regular
                                                                            Ber</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 d-flex">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> ICU
                                                                            Bed</span>
                                                                        <span class="not-available">Not-Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 d-flex">
                                                                    <div class="bed-details">
                                                                        <span class="d-block"><i
                                                                                class="fa fa-bed mr-2"></i> Oxigen
                                                                            Bed</span>
                                                                        <span class="available">Available</span>
                                                                    </div>
                                                                    <div
                                                                        class="comments d-flex mt-1 ml-4 align-self-center">
                                                                        <span class="like mr-1"><i
                                                                                class="fa fa-thumbs-up"></i> <span
                                                                                class="d-block">103</span></span>
                                                                        <span class="like"><i
                                                                                class="fa fa-thumbs-down"></i> <span
                                                                                class="d-block">103</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col align-self-center text-right">
                                                                    <a class="btn btn-primary p-2 py-1 mr-1"
                                                                        href="#!">Report Updates</a>
                                                                    <a class="btn btn-outline-primary p-2 py-1 "
                                                                        href="#!">Notify Me</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- card for Plasma end -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    <footer id="sticky-footer" class="py-2 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>
</div>



<!-- <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <h1><a href="index.html" class="logo">Ni</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active" routerLink="">
                <a><span class="fa fa-home"></span> check</a>
            </li>
            <li routerLink="cases">
                <a><span class="far fa-chart-bar"></span> Covid cases</a>
            </li>
            <li routerLink="oxygen">
                <a><span class="fa fa-sticky-note"></span> Oxygen</a>
            </li>
            <li routerLink="plasma">
                <a><span class="fa fa-first-aid"></span> Plasma</a>
            </li>
            <li routerLink="vaccine">
                <a><span class="fa fa-user"></span> vaccine</a>
            </li>
            <li routerLink="https://github.com/Normal-India">
                <a><span class="fa fa-github"></span> Github</a>
            </li>
            <li routerLink="contactus">
                <a><span class="fa fa-paper-plane"></span> Contact us</a>
            </li>
        </ul>

    </nav> 

    <div id="content" class="p-4 p-md-5">

        <div class="container-fluid">
            <router-outlet></router-outlet>

        </div>

    </div>
    <div class="footer">
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
                <small>Copyright &copy; Your Website</small>
            </div>
        </footer>
    </div>

</div> -->