<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <h1><a href="index.html" class="logo">Ni</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a><span class="fa fa-home" routerLink=""></span> check</a>
            </li>
            <li>
                <a><span class="far fa-chart-bar" routerLink="cases"></span> Covid cases</a>
            </li>
            <li>
                <a><span class="fa fa-sticky-note" routerLink="oxygen"></span> Oxygen</a>
            </li>
            <li>
                <a><span class="fa fa-first-aid" routerLink="plasma"></span> Plasma</a>
            </li>
            <li>
                <a><span class="fa fa-user" routerLink="vaccine"></span> vaccine</a>
            </li>
            <li>
                <a><span class="fa fa-github" routerLink=""></span> Github</a>
            </li>
            <li>
                <a><span class="fa fa-paper-plane" routerLink="contactus"></span> Contact us</a>
            </li>
        </ul>
        <div class="footer">
            <!-- <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib.com</a>
            </p> -->
            <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
                <div class="container text-center">
                    <small>Copyright &copy; Your Website</small>
                </div>
            </footer>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <div class="container-fluid">
            <router-outlet></router-outlet>
           
        </div>

    </div>

</div>